In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("LS_2.0.csv")

In [4]:
df.head(5)

,STATE,CONSTITUENCY,NAME,WINNER,PARTY,SYMBOL,GENDER,CRIMINAL\nCASES,AGE,CATEGORY,EDUCATION,ASSETS,LIABILITIES,GENERAL\nVOTES,POSTAL\nVOTES,TOTAL\nVOTES,OVER TOTAL ELECTORS \nIN CONSTITUENCY,OVER TOTAL VOTES POLLED \nIN CONSTITUENCY,TOTAL ELECTORS
0,Telangana,ADILABAD,SOYAM BAPU RAO,1,BJP,Lotus,MALE,52,52.0,ST,12th Pass,"Rs 30,99,414\n ~ 30 Lacs+","Rs 2,31,450\n ~ 2 Lacs+",376892,482,377374,25.330684,35.468248,1489790
1,Telangana,ADILABAD,Godam Nagesh,0,TRS,Car,MALE,0,54.0,ST,Post Graduate,"Rs 1,84,77,888\n ~ 1 Crore+","Rs 8,47,000\n ~ 8 Lacs+",318665,149,318814,21.399929,29.964370,1489790
2,Telangana,ADILABAD,RATHOD RAMESH,0,INC,Hand,MALE,3,52.0,ST,12th Pass,"Rs 3,64,91,000\n ~ 3 Crore+","Rs 1,53,00,000\n ~ 1 Crore+",314057,181,314238,21.092771,29.534285,1489790
3,Telangana,ADILABAD,NOTA,0,NOTA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13030,6,13036,0.875023,1.225214,1489790
4,Uttar Pradesh,AGRA,Satyapal Singh Baghel,1,BJP,Lotus,MALE,5,58.0,SC,Doctorate,"Rs 7,42,74,036\n ~ 7 Crore+","Rs 86,06,522\n ~ 86 Lacs+",644459,2416,646875,33.383823,56.464615,1937690

In [22]:
df.ASSETS.str.split('\n', expand=True)[0]

0            Rs 30,99,414
1          Rs 1,84,77,888
2          Rs 3,64,91,000
3                     NaN
4          Rs 7,42,74,036
              ...
2258         Rs 48,90,000
2259    Rs 1,28,78,51,556
2260      Rs 90,36,63,001
2261       Rs 5,85,77,327
2262                  NaN
Name: 0, Length: 2263, dtype: object

In [36]:
col=[]
for c in df.columns:
    c= c.replace("\n", "_")
    col.append(c.lower())
#col[16]="total_votes"
#col[17]="votes_polled"
col

['state',
 'constituency',
 'name',
 'winner',
 'party',
 'symbol',
 'gender',
 'criminal_cases',
 'age',
 'category',
 'education',
 'assets',
 'liabilities',
 'general_votes',
 'postal_votes',
 'total_votes',
 'over total electors _in constituency',
 'over total votes polled _in constituency',
 'total electors']

In [25]:
a="sbc"
a.capitalize()

'Sbc'